body{
    text-align: center;
    color:black;
    background-color: white;
}
header{
    text-align: center;
}
div{
    margin: 0 auto;
    max-width: 1600px;
}
img{
    width: 20%;
    display: block;
    max-width: 1400px;
    margin: 0 auto;
}
#content{
    text-align: center;
    max-width: 1600px;
}
footer, .msg{
    font-size: 50%;
    background-color: darkgray;
    margin: 10px;
    color:rgb(177, 87, 52);
}
.social{
    width: 200px;
    position: left;
    margin-left: -12%;
}
#end{
    text-align: left;
}
h2{
    font-size: small;
    color: white;
    outline-color: white;
    font-style: initial;
}
p{
    color: white;
    font-size: 20%;
}
h2, p{
    margin: 7px;
}
.join{
    color: black;
    font-size: 30%;
    background-color: lightsalmon;
}
h3{
    text-align: left;
}