body{
    background-color: pink;
    text-align: center;
}
header{
    text-align: center;
    color: white;
}
main{
    text-align: center;
    list-style-position: inside;
}
img{
    width: 30%;
    max-width: 1400px;
    display: block;
    margin: 0 auto;
}
footer{
    text-align: center;
    color: black; 
}
ol{
    text-align: left;;
}
main{
    width: 450px;
    text-align: center;
    margin: 0 auto;
}
#para{
    color: white;
    font-size: 200%;
    font-style: arial;
}
#end p {
    margin: -5px;
}